#welcome {
  text-align: center;
  color: whitesmoke;
  background-image: url(../images/assets/backgrounds/h_img.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;

}

#mid-text {
  padding: 12%;

}

#mouse_click {
  padding: 5%;
}

.section2 {
  background-color: white;
}
#aboutUs {
  text-align: center;
  padding: 2%;
}
#secServices {
  background-image: url(../images/assets/backgrounds/s_image.jpg);
  background-size: cover;
  
}

#services {
  color: whitesmoke;
  text-align: center;
  padding: 8%;

}
.header3 {
  padding: 5%;
  text-align: center;
}
#whatWeDo {
  text-align: center;
  padding-bottom: 5%;
}
#designHidden {
  display: none;
}
#devHidden {
  display: none;
}
#productHidden {
  display: none;
}
#portfolio {
  text-align: center;
}
#rowImg2 {
  padding-top: 5%;
  padding-bottom: 5%;

}
#section4 {
  background-image: url(../images/assets/backgrounds/c_image.jpg);
  background-size: cover;

}
#divContact {
  padding: 7%;
  padding-bottom: 12%;
  color: whitesmoke;
  text-align: center;
}
#name {
  background: transparent;
  color: whitesmoke;
}
#email {
  background: transparent;

}
#message {
  background: transparent;

}
#socialIcons {
  text-align: center;
  padding: 5%;
}
#footerText {
  text-align: center;
}
