#welcome {
  text-align: center;
  color: whitesmoke;
  background-image: url(../images/assets/backgrounds/h_img.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;

}

#mid-text {
  padding: 12%;

}

#mouse_click {
  padding: 5%;
}

.section2 {
  background-color: white;
}
#aboutUs {
  text-align: center;
  padding: 2%;
}
#secServices {
  background-image: url(../images/assets/backgrounds/s_image.jpg);
  
}

#services {
  color: whitesmoke;
  text-align: center;
  padding: 8%;

}